name: Build examples

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install platformio
        chmod +x ./scripts/CI/build_examples_pio.sh
    - name: Build examples
      run: |
        ./scripts/CI/build_examples_pio.sh